*{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}


body{

	margin: auto;
}

.header{
	display: flex;
	height: 5vh;
	background-color: black;
	color: white;
	justify-content: space-between;
	align-items: center;
}

.menu{
	display: flex;
}

.header a{
	display: block;
	padding: 10px;
	display: block;
	color: white;
}

